<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.EmployeeecMapper">

 <resultMap type="org.sang.bean.Employeeec" id="ResultMap">
     
        <id property="id" column="id" />

    
        <result property="eid" column="eid" />
        <result property="ecDate" column="ecDate" />
        <result property="ecReason" column="ecReason" />
        <result property="ecPoint" column="ecPoint" />
          <result property="ecType" column="ecType" />
        <result property="remark" column="remark" />
    </resultMap>

    <select id="getAllEmployeeec" resultMap="ResultMap">
        select * from employeeec;
    </select>
    </mapper>